{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://transfer.amazonaws.com/"
        },
        {
            "url": "http://transfer.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS Transfer for SFTP is a fully managed service that enables the transfer of files directly into and out of Amazon S3 using the Secure File Transfer Protocol (SFTP)—also known as Secure Shell (SSH) File Transfer Protocol. AWS helps you seamlessly migrate your file transfer workflows to AWS Transfer for SFTP—by integrating with existing authentication systems, and providing DNS routing with Amazon Route 53—so nothing changes for your customers and partners, or their applications. With your data in S3, you can use it with AWS services for processing, analytics, machine learning, and archiving. Getting started with AWS Transfer for SFTP (AWS SFTP) is easy; there is no infrastructure to buy and setup. ",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Transfer for SFTP",
        "version": "2018-11-05",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/transfer-2018-11-05.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "transfer"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/transfer/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Instantiates an autoscaling virtual server based on Secure File Transfer Protocol (SFTP) in AWS. The call returns the <code>ServerId</code> property assigned by the service to the newly created server. Reference this <code>ServerId</code> property when you make updates to your server, or work with users.</p> <p>The response returns the <code>ServerId</code> value for the newly created server.</p>",
                "operationId": "CreateServer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ServerId": {
                                            "description": "The service-assigned ID of the SFTP server that is created.",
                                            "pattern": "^s-([0-9a-f]{17})$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "ServerId"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "IdentityProviderDetails": {
                                        "description": "An array containing all of the information required to call a customer-supplied authentication API. This parameter is not required when the <code>IdentityProviderType</code> value of server that is created uses the <code>SERVICE_MANAGED</code> authentication method.",
                                        "properties": {
                                            "InvocationRole": {
                                                "description": "The <code>Role</code> parameter provides the type of <code>InvocationRole</code> used to authenticate the user account.",
                                                "pattern": "arn:.*role/.*",
                                                "type": "string"
                                            },
                                            "Url": {
                                                "description": "The <code>IdentityProviderDetail</code> parameter contains the location of the service endpoint used to authenticate users.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "IdentityProviderType": {
                                        "description": "The mode of authentication enabled for this service. The default value is <code>SERVICE_MANAGED</code>, which allows you to store and access SFTP user credentials within the service. An <code>IdentityProviderType</code> value of <code>API_GATEWAY</code> indicates that user authentication requires a call to an API Gateway endpoint URL provided by you to integrate an identity provider of your choice.",
                                        "enum": [
                                            "SERVICE_MANAGED",
                                            "API_GATEWAY"
                                        ],
                                        "type": "string"
                                    },
                                    "LoggingRole": {
                                        "description": "A value that allows the service to write your SFTP users’ activity to your Amazon CloudWatch logs for monitoring and auditing purposes.",
                                        "pattern": "arn:.*role/.*",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "Key-value pairs that can be used to group and search for servers.",
                                        "items": {
                                            "description": "Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The name assigned to the tag that you create.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "This property contains one or more values that you assigned to the key name you create.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Key",
                                                "Value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds a user and associate them with an existing Secure File Transfer Protocol (SFTP) server. Using parameters for <code>CreateUser</code>, you can specify the user name, set the home directory, store the user's public key, and assign the user's AWS Identity and Access Management (IAM) role. You can also optionally add a scope-down policy, and assign metadata with tags that can be used to group and search for users.</p> <p>The response returns the <code>UserName</code> and <code>ServerId</code> values of the new user for that server.</p>",
                "operationId": "CreateUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ServerId": {
                                            "description": "The ID of the SFTP server that the user is attached to.",
                                            "pattern": "^s-([0-9a-f]{17})$",
                                            "type": "string"
                                        },
                                        "UserName": {
                                            "description": "A unique string that identifies a user account associated with an SFTP server.",
                                            "pattern": "^[a-z0-9]{3,32}$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "ServerId",
                                        "UserName"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "HomeDirectory": {
                                        "description": "The landing directory (folder) for a user when they log in to the server using their SFTP client. An example is <code>/home/<i>username</i> </code>.",
                                        "maxLength": 1024,
                                        "pattern": "^$|/.*",
                                        "type": "string"
                                    },
                                    "Policy": {
                                        "description": "A scope-down policy for your user so you can use the same IAM role across multiple users. This policy scopes down user access to portions of their Amazon S3 bucket. Variables you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.",
                                        "type": "string"
                                    },
                                    "Role": {
                                        "description": "The IAM role that controls your user’s access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the SFTP server to access your resources when servicing your SFTP user’s transfer requests.",
                                        "pattern": "arn:.*role/.*",
                                        "type": "string"
                                    },
                                    "ServerId": {
                                        "description": "A system-assigned unique identifier for an SFTP server instance. This is the specific SFTP server that you added your user to.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    },
                                    "SshPublicKeyBody": {
                                        "description": "The public portion of the Secure Shall (SSH) key used to authenticate the user to the SFTP server.",
                                        "maxLength": 2048,
                                        "pattern": "^ssh-rsa\\s+[A-Za-z0-9+/]+[=]{0,3}(\\s+.+)?\\s*$",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "Key-value pairs that can be used to group and search for users. Tags are metadata attached to users for any purpose.",
                                        "items": {
                                            "description": "Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The name assigned to the tag that you create.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "This property contains one or more values that you assigned to the key name you create.",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Key",
                                                "Value"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "UserName": {
                                        "description": "A unique string that identifies a user and is associated with a server as specified by the <code>ServerId</code>.",
                                        "pattern": "^[a-z0-9]{3,32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Role",
                                    "ServerId",
                                    "UserName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteServer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the Secure File Transfer Protocol (SFTP) server that you specify. If you used <code>SERVICE_MANAGED</code> as your <code>IdentityProviderType</code>, you need to delete all users associated with this server before deleting the server itself</p> <p>No response returns from this call.</p>",
                "operationId": "DeleteServer",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerId": {
                                        "description": "A unique system-assigned identifier for an SFTP server instance.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteSshPublicKey": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a user's Secure Shell (SSH) public key.</p> <p>No response is returned from this call.</p>",
                "operationId": "DeleteSshPublicKey",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerId": {
                                        "description": "A system-assigned unique identifier for a Secure File Transfer Protocol (SFTP) server instance that has the user assigned to it.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    },
                                    "SshPublicKeyId": {
                                        "description": "A unique identifier used to reference your user’s specific SSH key.",
                                        "pattern": "^key-[0-9a-f]{17}$",
                                        "type": "string"
                                    },
                                    "UserName": {
                                        "description": "A unique string that identifies a user whose public key is being deleted.",
                                        "pattern": "^[a-z0-9]{3,32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerId",
                                    "SshPublicKeyId",
                                    "UserName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the user belonging to the server you specify.</p> <p>No response returns from this call.</p> <note> <p>When you delete a user from a server, the user's information is lost.</p> </note>",
                "operationId": "DeleteUser",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerId": {
                                        "description": "A system-assigned unique identifier for an SFTP server instance that has the user assigned to it.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    },
                                    "UserName": {
                                        "description": "A unique string that identifies a user that is being deleted from the server.",
                                        "pattern": "^[a-z0-9]{3,32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerId",
                                    "UserName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeServer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Describes the server that you specify by passing the <code>ServerId</code> parameter.</p> <p>The response contains a description of the server's properties.</p>",
                "operationId": "DescribeServer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Server": {
                                            "description": "An array containing the properties of the server with the <code>ServerID</code> you specified.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "Specifies the unique Amazon Resource Name (ARN) for the server to be described.",
                                                    "maxLength": 1600,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "IdentityProviderDetails": {
                                                    "description": "Specifies information to call a customer-supplied authentication API. This field is not populated when the <code>IdentityProviderType</code> of the server is <code>SERVICE_MANAGED</code>&gt;.",
                                                    "properties": {
                                                        "InvocationRole": {
                                                            "description": "The <code>Role</code> parameter provides the type of <code>InvocationRole</code> used to authenticate the user account.",
                                                            "pattern": "arn:.*role/.*",
                                                            "type": "string"
                                                        },
                                                        "Url": {
                                                            "description": "The <code>IdentityProviderDetail</code> parameter contains the location of the service endpoint used to authenticate users.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "IdentityProviderType": {
                                                    "description": "This property defines the mode of authentication method enabled for this service. A value of <code>SERVICE_MANAGED</code>, means that you are using this Server to store and access SFTP user credentials within the service. A value of <code>API_GATEWAY</code> indicates that you have integrated an API Gateway endpoint that will be invoked for authenticating your user into the service.",
                                                    "enum": [
                                                        "SERVICE_MANAGED",
                                                        "API_GATEWAY"
                                                    ],
                                                    "type": "string"
                                                },
                                                "LoggingRole": {
                                                    "description": "This property is an AWS Identity and Access Management (IAM) entity that allows the server to turn on Amazon CloudWatch logging for Amazon S3 events. When set, user activity can be view in your CloudWatch logs.",
                                                    "pattern": "arn:.*role/.*",
                                                    "type": "string"
                                                },
                                                "ServerId": {
                                                    "description": "This property is a unique system assigned identifier for the SFTP server that you instantiate.",
                                                    "pattern": "^s-([0-9a-f]{17})$",
                                                    "type": "string"
                                                },
                                                "State": {
                                                    "description": "<p>The condition of the SFTP server for the server that was described. A value of <code>ONLINE</code> indicates that the server can accept jobs and transfer files. A <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file transfer operations.</p> <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicated that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error condition.</p>",
                                                    "enum": [
                                                        "OFFLINE",
                                                        "ONLINE",
                                                        "STARTING",
                                                        "STOPPING",
                                                        "START_FAILED",
                                                        "STOP_FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Tags": {
                                                    "description": "This property contains the key-value pairs that you can use to search for and group servers that were assigned to the server that was described.",
                                                    "items": {
                                                        "description": "Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "The name assigned to the tag that you create.",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "This property contains one or more values that you assigned to the key name you create.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Key",
                                                            "Value"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "maxItems": 50,
                                                    "minItems": 1,
                                                    "type": "array"
                                                },
                                                "UserCount": {
                                                    "description": "The number of users that are assigned to the SFTP server you specified with the <code>ServerId</code>.",
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "Arn"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "Server"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerId": {
                                        "description": "A system-assigned unique identifier for an SFTP server.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeUser": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Describes the user assigned to a specific server, as identified by its <code>ServerId</code> property.</p> <p>The response from this call returns the properties of the user associated with the <code>ServerId</code> value that was specified.</p>",
                "operationId": "DescribeUser",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ServerId": {
                                            "description": "A system-assigned unique identifier for an SFTP server that has this user assigned.",
                                            "pattern": "^s-([0-9a-f]{17})$",
                                            "type": "string"
                                        },
                                        "User": {
                                            "description": "An array containing the properties of the user account for the <code>ServerID</code> value that you specified.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "This property contains the unique Amazon Resource Name (ARN) for the user that was requested to be described.",
                                                    "maxLength": 1600,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "HomeDirectory": {
                                                    "description": "This property specifies the landing directory (or folder) which is the location that files are written to or read from in an Amazon S3 bucket for the described user. An example would be: <code>/<i>bucket_name</i>/home/<i>username</i> </code>.",
                                                    "maxLength": 1024,
                                                    "pattern": "^$|/.*",
                                                    "type": "string"
                                                },
                                                "Policy": {
                                                    "description": "Specifies the name of the policy in use for the described user.",
                                                    "type": "string"
                                                },
                                                "Role": {
                                                    "description": "This property specifies the IAM role that controls your user’s access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the SFTP server to access your resources when servicing your SFTP user’s transfer requests.",
                                                    "pattern": "arn:.*role/.*",
                                                    "type": "string"
                                                },
                                                "SshPublicKeys": {
                                                    "description": "This property contains the public key portion of the Secure Shell (SSH) keys stored for the described user.",
                                                    "items": {
                                                        "description": "Provides information about the public Secure Shell (SSH) key that is associated with a user account for a specific server (as identified by <code>ServerId</code>). The information returned includes the date the key was imported, the public key contents, and the public key ID. A user can store more than one SSH public key associated with their user name on a specific SFTP server.",
                                                        "properties": {
                                                            "DateImported": {
                                                                "description": "The date that the public key was added to the user account.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "SshPublicKeyBody": {
                                                                "description": "The content of the SSH public key as specified by the <code>PublicKeyId</code>.",
                                                                "maxLength": 2048,
                                                                "pattern": "^ssh-rsa\\s+[A-Za-z0-9+/]+[=]{0,3}(\\s+.+)?\\s*$",
                                                                "type": "string"
                                                            },
                                                            "SshPublicKeyId": {
                                                                "description": "The <code>SshPublicKeyId</code> parameter contains the identifier of the public key.",
                                                                "pattern": "^key-[0-9a-f]{17}$",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "DateImported",
                                                            "SshPublicKeyBody",
                                                            "SshPublicKeyId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "maxItems": 5,
                                                    "type": "array"
                                                },
                                                "Tags": {
                                                    "description": "This property contains the key-value pairs for the user requested. Tag can be used to search for and group users for a variety of purposes.",
                                                    "items": {
                                                        "description": "Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.",
                                                        "properties": {
                                                            "Key": {
                                                                "description": "The name assigned to the tag that you create.",
                                                                "type": "string"
                                                            },
                                                            "Value": {
                                                                "description": "This property contains one or more values that you assigned to the key name you create.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Key",
                                                            "Value"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "maxItems": 50,
                                                    "minItems": 1,
                                                    "type": "array"
                                                },
                                                "UserName": {
                                                    "description": "This property is the name of the user that was requested to be described. User names are used for authentication purposes. This is the string that will be used by your user when they log in to your SFTP server.",
                                                    "pattern": "^[a-z0-9]{3,32}$",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Arn"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "ServerId",
                                        "User"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerId": {
                                        "description": "A system-assigned unique identifier for an SFTP server that has this user assigned.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    },
                                    "UserName": {
                                        "description": "The name of the user assigned to one or more servers. User names are part of the sign-in credentials to use the AWS Transfer service and perform file transfer tasks.",
                                        "pattern": "^[a-z0-9]{3,32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerId",
                                    "UserName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ImportSshPublicKey": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds a Secure Shell (SSH) public key to a user account identified by a <code>UserName</code> value assigned to a specific server, identified by <code>ServerId</code>.</p> <p>The response returns the <code>UserName</code> value, the <code>ServerId</code> value, and the name of the <code>SshPublicKeyId</code>.</p>",
                "operationId": "ImportSshPublicKey",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "This response identifies the user, server they belong to, and the identifier of the SSH public key associated with that user. A user can have more than one key on each server that they are associate with.",
                                    "properties": {
                                        "ServerId": {
                                            "description": "A system-assigned unique identifier for an SFTP server.",
                                            "pattern": "^s-([0-9a-f]{17})$",
                                            "type": "string"
                                        },
                                        "SshPublicKeyId": {
                                            "description": "This identifier is the name given to a public key by the system that was imported.",
                                            "pattern": "^key-[0-9a-f]{17}$",
                                            "type": "string"
                                        },
                                        "UserName": {
                                            "description": "A user name assigned to the <code>ServerID</code> value that you specified.",
                                            "pattern": "^[a-z0-9]{3,32}$",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "ServerId",
                                        "SshPublicKeyId",
                                        "UserName"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ServerId": {
                                        "description": "A system-assigned unique identifier for an SFTP server.",
                                        "pattern": "^s-([0-9a-f]{17})$",
                                        "type": "string"
                                    },
                                    "SshPublicKeyBody": {
                                        "description": "The public key portion of an SSH key pair.",
                                        "maxLength": 2048,
                                        "pattern": "^ssh-rsa\\s+[A-Za-z0-9+/]+[=]{0,3}(\\s+.+)?\\s*$",
                                        "type": "string"
                                    },
                                    "UserName": {
                                        "description": "The name of the user account that is assigned to one or more servers.",
                                        "pattern": "^[a-z0-9]{3,32}$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ServerId",
                                    "SshPublicKeyBody",
                                    "UserName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ListServers": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists the Secure File Transfer Protocol (SFTP) servers that are associated with your AWS account.",
                "operationId": "ListServers",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "When you can get additional results from the <code>ListServers</code> operation, a <code>NextToken</code> parameter is returned in the output. In a following command, you can pass in the <code>NextToken</code> parameter to continue listing additional servers.",
                                            "maxLength": 6144,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "Servers": {
                                            "description": "An array of servers that were listed.",
                                            "items": {
                                                "description": "Returns properties of the server that was specified.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": "The unique Amazon Resource Name (ARN) for the server to be listed.",
                                                        "maxLength": 1600,
                                                        "minLength": 20,
                                                        "type": "string"
                                                    },
                                                    "IdentityProviderType": {
                                                        "description": "The authentication method used to validate a user for the server that was specified. listed. This can include Secure Shell (SSH), user name and password combinations, or your own custom authentication method. Valid values include <code>SERVICE_MANAGED</code> or <code>API_GATEWAY</code>.",
                                                        "enum": [
                                                            "SERVICE_MANAGED",
                                                            "API_GATEWAY"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "LoggingRole": {
                                                        "description": "The AWS Identity and Access Management entity that allows the server to turn on Amazon CloudWatch logging.",
                                                        "pattern": "arn:.*role/.*",
                                                        "type": "string"
                                                    },
                                                    "ServerId": {
                                                        "description": "This value is the unique system assigned identifier for the SFTP servers that were listed.",
                                                        "pattern": "^s-([0-9a-f]{17})$",
                                                        "type": "string"
                                                    },
                                                    "State": {
                                                        "description": "<p>This property describes the condition of the SFTP server for the server that was described. A value of <code>ONLINE</code>&gt; indicates that the server can accept jobs and transfer files. A <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file transfer operations.</p> <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicated that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error condition.</p>",
                                                        "enum": [
                                                            "OFFLINE",
                                                            "ONLINE",
                                                            "STARTING",
                                                            "STOPPING",
                                                            "START_FAILED",
                                                            "STOP_FAILED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "UserCount": {
                                                        "description": "This property is a numeric value that indicates the number of users that are assigned to the SFTP server you specified with the <code>ServerId</code>.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "required": [
                                                    "Arn"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "Servers"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "MaxResults": {
                                        "description": "Specifies the number of servers to return as a response to the <code>ListServers</code> query.",
                                        "maximum": 1000,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "When additional results are obtained from the ListServers command, a <code>NextToken</code> parameter is returned in the output. You can then pass the <code>NextToken</code> parameter in a subsequent command to continue listing additional servers.",
                                        "maxLength": 6144,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ListTagsForResource": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Lists all of the tags associated with the Amazon Resource Number (ARN) you specify. The resource can be a user, server, or role.",
                "operationId": "ListTagsForResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Arn": {
                                            "description": "This value is the ARN you specified to list the tags of.",
                                            "maxLength": 1600,
                                            "minLength": 20,
                                            "type": "string"
                                        },
                                        "NextToken": {
                                            "description": "When you can get additional results from the <code>ListTagsForResource</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command the <code>NextToken</code> parameter to continue listing additional tags.",
                                            "maxLength": 6144,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "Tags": {
                                            "description": "Key-value pairs that are assigned to a resource, usually for the purpose of grouping and searching for items. Tags are metadata that you define that you can use for any purpose.",
                                            "items": {
                                                "description": "Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.",
                                                "properties": {
                                                    "Key": {
                                                        "description": "The name assigned to the tag that you create.",
                                                        "type": "string"
                                                    },
                                                    "Value": {
                                                        "description": "This property contains one or more values that you assigned to the key name you create.",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "Key",
                                                    "Value"
                                                ],
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "minItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServiceError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Arn": {
                                        "description": "Requests the tags associated with a particular Amazon Resource Name (ARN). An ARN is an identifier for a specific AWS resource, such as a server, user, or role.",
                                        "maxLength": 1600,
                                        "minLength": 20,
                                        "type": "string"
                                    },
                                    "MaxResults": {
                                        "description": "Specifies the number of tags to return as a response to the <code>ListTagsForResource</code> request.",
                                        "maximum": 1000,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "When you request additional results from the <code>ListTagsForResource</code> call, a <code>NextToken</code> parameter is returned in the input. You can then pass in a subsequent command the <code>NextToken</code> parameter to continue listing additional tags.",
                                        "maxLength": 6144,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Arn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ListUsers": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
[...]
